@import "tailwindcss";

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #AEC2C6; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3E5C76; 
}
.leaflet-container {
  font-family: inherit;
}
